@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  box-sizing: border-box;
  /* font-family: "Archivo Black", sans-serif; */
}
html {
  scroll-behavior: smooth;
}
.box1 {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.6);
  /* background: rgba(255, 255, 255, 0.55); */

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.box2 {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.6);
  /* height: 400px; */
  /* background: rgba(255, 255, 255, 0.55); */

  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
}
.box3 {
  /* From https://css.glass */
  /* background: rgba(63, 22, 8, 0.6); */
  background: rgba(0, 0, 0, 0.6);

  /* background: rgba(255, 255, 255, 0.55); */

  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
}
.app {
  /* height: 100%; */
  /* max-width: 100% !important; */
}
.bg {
  /* position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0; */
  /* width: 100%;
  height: 100%; */
  /* min-height: 100%;
  min-width: 100%; */
  /* width: 100vh;
  height: 100vh;
  background-size: fit; */
  /* background-position: bottom; */
}
body {
  /* width: 100% !important; */
}
.app {
  /* width: 100%; */
  background: #121212;
  /* background-image: url(./assets/bg-banner-v12.jpg) !important; */
}
.roadmap {
  background-image: url(./assets/poker3.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}
.main_bg {
  background-image: url(./assets/main_bg.gif) !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center;

  width: 100%;
}
.lounge {
  background-image: url(./assets/lounge.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
}
.horse_track {
  background-image: url(./assets/horse_track.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position-y: bottom;
  /* width: 100%; */
}
